name: Test Contracts

on:
  push:
    branches: [ main, tests ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Clarinet
        run: |
          curl -L https://github.com/hirosystems/clarinet/releases/download/v2.0.0/clarinet-linux-x64.tar.gz | tar xz
          sudo mv clarinet /usr/local/bin/
          
      - name: Run Tests
        run: clarinet test
